.body {
    width: 100vw;
    height: 75vh;
    overflow: hidden;
  }
  .content {
    background: #fff;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100vw;
    overflow: overlay;
  }
  
  .scrollable {
    position: relative;
    overflow-y: overlay;
    overflow: overlay;
  }
  
  /* Customize website's scrollbar like Mac OS
  Not supports in Firefox and IE */
  
  /* total width */
  .scrollbar::-webkit-scrollbar {
    background-color: #fff;
    width: 16px;
  }
  
  /* background of the scrollbar except button or resizer */
  .scrollbar::-webkit-scrollbar-track {
    background-color: #fff;
  }
  
  /* scrollbar itself */
  .scrollbar::-webkit-scrollbar-thumb {
    background-color: #babac0;
    border-radius: 16px;
    border: 5px solid #fff;
  }
  .scrollbar::-webkit-scrollbar-thumb:hover {
    border: 4px solid #f4f4f4;
  }
  
  /* set button(top and bottom of the scrollbar) */
  .scrollbar::-webkit-scrollbar-button {
    display: none;
  }
  
  /* div box */
  
  .scrollbar {
    min-width: 150px;
    background: #fff;
    align-items: center;
    justify-content: center;
  }
  .overflow {
    min-height: 100vh;
  }
  
  .jobs {
    display: grid;
    justify-content: center;
    overflow: hidden;
    grid-gap: 20px;
    padding-top: 5px;
    align-items: center;
    position: relative;
  }
  
  
  .timestamp {
    display: flex;
    justify-content: center;
    color: #999;
    font-weight: 600;
    font-size: 12px;
    text-transform: uppercase;
    position: relative;
    }
  
