.header {
    width: 75vw;
    height: 100px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .logo {
    width:auto;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  
  }
  
  .logoclass {
    width: 150px;
    height: 150px;
    position: relative;
  
  }
  
  
  .wrap {
    display: flex;
    align-items: center;
    justify-content: center;
  }